<div class="kb-container" ng-init="$ctrl.checkUser()">
  <form class="kb-signup-form" name="signup" ng-submit="$ctrl.signup($ctrl.user)">
    <div class="kb-form-group">
      <i class="fas fa-file-signature"></i>
      <input type="text" placeholder="First Name" required ng-model="$ctrl.user.firstName">
    </div>
    <div class="kb-form-group">
      <i class="fas fa-file-signature"></i>
      <input type="text" placeholder="Last Name" required ng-model="$ctrl.user.lastName">
    </div>
    <div class="kb-form-group">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="E-mail address" required ng-model="$ctrl.user.email">
    </div>
    <div class="kb-form-group">
      <i class="fas fa-key"></i>
      <input type="password" placeholder="Password" required ng-model="$ctrl.user.password">
    </div>
    <div class="kb-form-group">
      <i class="fas fa-key"></i>
      <input type="password" placeholder="Confirm Password" required ng-model="$ctrl.user.passwordConfirm">
    </div>
    <button class="kb-button" type="submit" ng-disabled="$ctrl.user.password !== $ctrl.user.passwordConfirm">Sign Up</button>
  </form>
  <section class="kb-info">
    <p>Already have an account? <a href="#/login"> Log in here!</a></p>
  </section>
</div>
