<div class="kb-container">
  <section class="transaction-left">
    <header>
      <h2>Recent Transactions</h2>
    </header>
    <ul class="transaction-list">
      <li ng-repeat="" class="single-transaction">
        <ul class="single-transaction">
            <li class="date"></li>
            <li class="vendor"></li>
            <li class="amount"></li>
        </ul>
      </li>
    </ul>
    <footer>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </footer>
  </section>
  <section class="transaction-main">
    <header>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </header>
    <section>
      <article class="monthly">

      </article>
      <article class="weekly">

      </article>
      <article class="category">

      </article>
    </section>
  </section>
</div>
