<div class="kb-container" ng-init="$ctrl.initSpending()">
  <section class="transaction-left">
    <header>
      <button type="button" class="kb-switch" ng-click="$ctrl.setLeft(1)">View Transactions</button>
      <button type="button" class="kb-switch" ng-click="$ctrl.setLeft(2)">Add New</button>
    </header>
    <section class="transaction-add" ng-show="$ctrl.showHide.leftContainer == 2">
      <header>
        <h2>Add New</h2>
      </header>
      <ul class="kb-add-options">
        <li class="kb-add kb-vendor">
          <button type="button" class="kb-switch" name="button" ng-click="$ctrl.setButtons(1)">Add Vendors</button>
          <form class="kb-add-form" ng-show="$ctrl.showHide.addButtons === 1" ng-submit="$ctrl.addVendor($ctrl.formValues.vendor)">
            <input type="text" placeholder="Vendor Name" ng-model="$ctrl.formValues.vendor.name">
            <button type="submit" name="button">Submit</button>
          </form>
        </li>
        <li class="kb-add kb-category">
          <button type="button" class="kb-switch" name="button" ng-click="$ctrl.setButtons(2)">Add Categories</button>
          <form class="kb-add-form" ng-show="$ctrl.showHide.addButtons === 2" ng-submit="$ctrl.addCategory($ctrl.formValues.category)">
            <input type="text" ng-model="$ctrl.formValues.category.name" placeholder="Category Name">
            <button type="submit" name="button">Submit</button>
          </form>
        </li>
        <li class="kb-add kb-subcategory">
          <button type="button" class="kb-switch" name="button" ng-click="$ctrl.setButtons(3)">Add Subcategories</button>
          <form class="kb-add-form" ng-show="$ctrl.showHide.addButtons === 3" ng-submit="$ctrl.addSubcategory($ctrl.formValues.subcategory)">
            <input type="text" ng-model="$ctrl.formValues.subcategory.name" placeholder="Subcategory Name">
            <select class="" ng-model="$ctrl.formValues.subcategory.supercategory" ng-options="supercategory as supercategory.name for supercategory in $ctrl.user.categories" name="supercategory"></select>
            <button type="submit">Submit</button>
          </form>
        </li>
        <li class="kb-add kb-transaction">
          <button type="button" class="kb-switch" ng-click="$ctrl.setButtons(4)">Add Transactions</button>
          <form class="kb-add-form" ng-show="$ctrl.showHide.addButtons === 4" ng-submit="$ctrl.addTransaction($ctrl.formValues.transaction)">
            <div class="kb-group">
              <label for="date"></label>
              <input type="date" ng-model="$ctrl.formValues.transaction.date" name="Date">
            </div>
            <div class="kb-group kb-amount">
              <label for="Amount">$</label>
              <input type="number" ng-model="$ctrl.formValues.transaction.amount" name="Amount" placeholder="0.00">
            </div>
            <select ng-model="$ctrl.formValues.transaction.vendor" ng-options="vendor as vendor.name for vendor in $ctrl.user.vendors" name="Vendor"></select>
            <select ng-model="$ctrl.formValues.transaction.category" ng-options="category as category.name for category in $ctrl.user.categories" name="Category" ></select>
            <select ng-model="$ctrl.formValues.transaction.subcategory" ng-options="subcategory as subcategory.name for subcategory in $ctrl.user.categories.subcategories" name="Subcategory"></select>
            <button type="submit" name="button">Submit</button>
          </form>
        </li>
      </ul>
    </section>
    <section class="transaction-list" ng-show="$ctrl.showHide.leftContainer == 1">
      <header>
        <h2>Recent Transactions</h2>
      </header>
      <ul class="transaction-list">
        <li  class="single-transaction">
          <ul class="single-transaction">
            <li class="date"></li>
            <li class="vendor"></li>
            <li class="amount"></li>
          </ul>
        </li>
      </ul>
      <footer>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </footer>
    </section>
  </section>
  <section class="transaction-main">
    <header>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </header>
    <section>
      <article class="monthly">

      </article>
      <article class="weekly">

      </article>
      <article class="category">

      </article>
    </section>
  </section>
</div>
