<div ng-init="$ctrl.checkUser()" class="kb-container">
  <form class="kb-login-form" name="login" ng-submit="$ctrl.login($ctrl.user)">
    <div class="kb-form-group">
      <i class="fas fa-user"></i>
      <input type="text" required ng-model="$ctrl.user.email">
    </div>
    <div class="kb-form-group">
      <i class="fas fa-key"></i>
      <input type="text" placeholder="" required ng-model="$ctrl.user.password">
    </div>
    <button class="kb-button" type="submit">Log In</button>
  </form>
  <section>
    <p>Don't have an account? Click here to make one!</p>
    <a href="#/signup">
      <button type="button" name="button">Sign Up</button>
    </a>
  </section>
</div>
