<div ng-init="$ctrl.checkUser()" class="kb-container">
  <form class="kb-login-form" name="login" ng-submit="$ctrl.login($ctrl.user)">
    <div class="kb-form-group">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="E-mail address" required ng-model="$ctrl.user.email">
    </div>
    <div class="kb-form-group">
      <i class="fas fa-key"></i>
      <input type="password" placeholder="Password" required ng-model="$ctrl.user.password">
    </div>
    <button class="kb-button" type="submit">Log In</button>
  </form>
  <section class="kb-info">
    <p>Don't have an account?<a href="#/signup">Sign up here!</a></p>
  </section>
</div>
